* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #191919;
    background-color: #E5E5E5;
}

.container {
    max-width: 1440px;
}

.border_blue {
    border: solid blue;
}

.border_red {
    border: solid red;
}

.border_green {
    border: solid green;
}


.font_color_222 {
    color: #222;
}

.font_color_19 {
    color: #191919;
}

.font_color_1D {
    color: #1D1D1D;
}

.font_color_gr_light {
    color: #6EE4B5;
}

.font_color_fff {
    color: #fff;
}


/*Section one BEGIN*/

.span_footer {
    font-size: 1.4rem;
    text-decoration: none;
}

.a_span_footer:hover {
    text-decoration: none;
}


.footer_text {
    max-width: 850px;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;

}

.footer_title {
    max-width: 800px;
    font-size: 6.4rem;
    text-align: center;
    font-weight: 400;
}

.footer_text_2 {
    font-size: 2rem;
    text-align: center;
    max-width: 630px;
    margin-top: 30px;
}


.my_input {
    max-width: 475px;
    margin: 40px 0;
}


.footer_email {
    width: 500px;
    padding: 22px 0 22px 32px;
    /*border-radius: 10px;*/
    font-size: 1.2rem;
    display: block;
    border-color: #7352FF;
    border-radius: 20px;

}

.footer_button {
    /*position: absolute;*/
    background-color: #7352FF;
    display: block;
    width: 150px;
    border-color: #7352FF;
    border-radius: 20px;
    margin-left: -50px;
}

.footer_img_block {
    margin-top: 100px;
    max-width: 264px;
    position: relative;

}

.footer_img_block_title {
    max-width: 75px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    padding: 15px;
    top: -24px;
    left: -24px;
}

.span_img_1 {
    font-size: 1.2rem;
}

.footer_img_block_title_icons {
    max-width: 52px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    padding: 15px;
    top: 50%;
    right: -22px;
}

.footer_img_itt {

}

.container.footer {
    /*padding-bottom: 600px;*/
}

.footer_money {
    max-width: 900px;
    position: relative;
    flex-direction: column;
    border: solid 3px #7349FF;
    background-color: #7349FF;
    border-radius: 15px 15px 15px 15px;
    margin: -20px;

}

.footer_money_head {
    background-color: #7349FF;
    padding: 10px 0;
    border-radius: 15px 15px 0 0;
}

.span_footer_money_head_itt {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 30px;
}

.footer_money_img_img {
    border-radius: 0 0 15px 15px;
}

/*Section one END*/

/*Section_TWO BEGIN*/
.section_two_all {
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
}

.container_section_two {
    background-color: #000;
    padding-top: 50px;
}

.section_two_text {
    color: #fff;
    font-size: 4rem;
    max-width: 525px;
    text-align: center;
    margin-top: 100px;
}

.section_two_slider {
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
}

.sect_two_sl_btn {
    margin-top: 70px;
}

.sect_two_under_slider {
    margin-top: 100px;
    text-transform: uppercase;
    color: #fff;
    opacity: .6;
}

.sect_two_reklama {
    margin-top: 40px;
    max-width: 500px;
}

/*Section_TWO END*/

/*Section_Three BEGIN*/

.section_three_text {
    max-width: 1200px;
    margin-top: 200px;
    /*padding-left: 90px;*/
    /*padding-right: 90px;*/
    /*padding-top: 40px;*/
    /*padding-bottom: 250px;*/
    padding: 40px 90px 250px;
    flex-direction: column;
    align-items: center;
}

.section_three_text_title {
    font-size: 2rem;
    color: #FF573D;
    text-align: center;
}

.section_three_text_txt {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #191919;

    margin-top: 15px;
    max-width: 840px;
}

/*Section_Three END*/

/*Section Four BEGIN*/
.section_four {
}

.section_four_all {
    background-color: #F7F2E4;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}

.section_four_all_home {
    color: #7352FF;
    font-size: 1.4rem;
    margin-top: 100px;
    background-color: #fff;
    max-width: 110px;
    padding: 12px 16px;
    border-radius: 25px;
}

.section_four_all_home a:hover {
    text-decoration: none;
}

.section_four_all_strike_text {
    margin-top: 80px;
    width: 620px;
}

.section_four_all_text_1 {
    color: #7352FF;
    margin-top: 30px;
    font-size: 2rem;
    text-align: center;
}

.section_four_all_title {
    font-size: 6.4rem;
    color: #191919;
    text-align: center;
    max-width: 800px;
}


.section_four_strike_1 {

    font-size: 2.4rem;
    color: #191919;
    text-align: center;

    text-decoration: line-through;
    text-decoration-color: #F6C627;
}

.table_revenue {
    width: 860px;
    margin-top: 80px;
    background-color: #fff;
    border-radius: 15px;
}

.table_row {
    width: 100%;
    margin-bottom: 16px;
    /*text-align: right;*/

}

.table_td {
    width: 20%;

}

.col-first {
    text-align: left;

}

.span_td_tex {
    font-size: 1.4rem;

}

.p_td_text {
    font-size: 1.2rem;
    color: #616A7E;
}

.table_td.th_1_1 {
    font-size: 1.6rem;

}

.table_td.th_1_2 {
    font-size: 1.2rem;
    /*text-align: right;*/

}

.text_align_right {
    text-align: right;
}

.section_four_works {
    width: 860px;
    margin-top: 50px;
    padding: 80px 66px;
    border: solid #BABEC3 2px;
    border-radius: 15px;
}

.section_four_works_left_txt {
    max-width: 290px;
}

.span_section_four_works_left {

    font-size: 4rem;
    line-height: 4.7rem;
}

.p_section_four_works_left {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #616A7F;
    margin-top: 30px;
}

.section_four_works_right_itt {
    max-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

.section_four_icons {
    /*margin-bottom: 30px;*/
}

.section_four_icons:not(:nth-child(4n)) {
    margin-right: 24px;
    /*margin-bottom: 24px;*/
}

/*Section Four END*/

/*Section FIVE BEGIN*/
.section_title_all {
    font-size: 6.4rem;
    text-align: center;
    max-width: 750px;
}

.section_sub_title_all {
    font-size: 2rem;
    text-align: center;
}

.section_btn_all {
    background-color: #191919;
    padding: 12px 16px;
    border-radius: 15px;
    margin-top: 140px;
    /*max-width: 140px;*/
}

.section_five_all {
    background-color: #191919;
    padding-bottom: 170px;
    /*padding: 50px;*/
}

.section_four_all_home.sect_five a {
    color: #2B2A35;

}

.section_four_all_home.sect_five {
    background-color: #6EE4B5;
}

.paynets_card {
    background-color: #1D1D1D;
    flex-direction: column;
    align-content: center;
    border-radius: 15px;
    /*margin-left: 20px;*/
    min-height: 630px;
}

.paynets_card_title {
    font-size: 2rem;
    margin-top: 50px;
}

.paynets_card_subtitle {
    font-size: 1.1rem;
    margin-top: 11px;
    margin-bottom: 87px;
}

.card_img {
    margin: 0 auto;
}

.card_img.img_3 {
    margin-top: 170px;
}

.card_img.img_2 {
    margin-top: 70px;
}

.paynets_card_subtitle a:hover {
    text-decoration: none;
    color: #6EE4B5;
}

.section_five_footer_left_top {
    font-size: 4rem;
    max-width: 300px;
    margin-top: 115px;
}

.section_five_footer_right {
    font-size: 2.4rem;
    margin-top: 128px;
}

.section_five_footer_right li {
    list-style: none;
}

.section_five_footer_right a:hover {
    text-decoration: none;
}

/*Section FIVE END*/

/*Section Seven BEGIN*/

.section_seven_all {
    background-color: #2B2A35;
    flex-direction: column;
    align-items: center;
}

.p_sect_seven {
    font-size: 20px;
    margin-top: 70px;
}

.sect_seven_img {
    padding-top: 0;
}

.sect_seven_img img {
    width: 100%;
    margin-top: 0;
}

.img_7 {
    width: 100%;
}

/*Section Seven END*/

/*Section_Eight_Begin*/

.section_eight_all {
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    border: solid silver;
}

.section_eight_title {
    max-width: 800px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin: 200px 0;
    text-align: center;
}

.section_eight_slider {
    width: 90%;
    margin-bottom: 100px;
}

.section_eight_slider img {
    border-radius: 15px;

}

/*Section_Eight_END*/


/*Section_Nine_BEGIN*/

.section_nine_left {
    word-wrap: anywhere;
    font-size: 2rem;
    line-height: 2.8rem;
    background: linear-gradient(90deg, blue, silver);
    /*background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.05) 70.71%), rgba(255, 255, 255, 0.2);*/
}

.container_section_nine {

    padding-left: 50px;
}

.section_nine_right {
    padding-left: 210px;
    height: 100%;
    background-color: #191919;
}

.p_section_nine_right {
    font-size: 2rem;
    line-height: 2.8rem;
    color: #FF573D;
    margin-top: 302px;

}

.span_section_nine_right {
    font-size: 4rem;
    line-height: 4.8rem;
}

.section_nine_right_list {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-top: 140px;
}

.section_nine_right li {
    list-style-image: url("../pictures/section_nine/list.png");
}

.section_nine_right li::marker {
    color: #FF573D;
}

/*Section_Nine_END*/